@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
.modal-header {
  border-bottom: 1px solid darkslateblue !important;
}

.modal-footer {
  border-top: 1px solid darkslateblue !important;
}
/* 
.modal-footer button {
  margin: 0 auto;
} */

.modal-header,
.modal-body,
.modal-footer {
  background-color: rgba(12, 57, 94, 0.829) !important;
}

section {
  background-color: #00c4931c;
}

.bg-gradient {
  background: rgb(56, 14, 4);
  background: linear-gradient(
    162deg,
    rgba(56, 14, 4, 1) 0%,
    rgba(6, 25, 70, 1) 100%
  ) !important;
}

.display-5 {
  font-family: "Bebas Neue", cursive;
  /* background: rgb(119, 31, 56);
    background: linear-gradient(
      90deg,
      rgba(119, 31, 56, 0.5382528011204482) 33%,
      rgba(0, 212, 255, 0.1881127450980392) 100%
    ); */
  background: rgb(33, 195, 195);
  background: linear-gradient(
    90deg,
    rgba(33, 195, 195, 0) 31%,
    rgba(52, 255, 255, 0.2945553221288515) 81%
  );
  margin-bottom: 1rem;
}
