@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

/* .carousel .carousel-item {
  height: 60vh;
}

.carousel-item img {
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  height: 60vh;
} */

.display-5 {
  font-family: "Bebas Neue", cursive;
  /* background: rgb(119, 31, 56);
  background: linear-gradient(
    90deg,
    rgba(119, 31, 56, 0.5382528011204482) 33%,
    rgba(0, 212, 255, 0.1881127450980392) 100%
  ); */
  background: rgb(33, 195, 195);
  background: linear-gradient(
    90deg,
    rgba(33, 195, 195, 0) 31%,
    rgba(52, 255, 255, 0.2945553221288515) 81%
  );
  margin-bottom: 1rem;
}

.card-img-overlay:hover {
  /* background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(201, 177, 124, 0) 50%,
    rgba(253, 187, 45, 0) 100%
  ); */
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.5525560566023284) 0%,
    rgba(150, 53, 210, 0.15199583251269255) 33%,
    rgba(218, 239, 255, 0) 51%
  );
  transition: 1s ease;
}
