:root {
  --red: #d31027;
  --gray: #a7a6a7;
  --navy: #0a0239;
}

@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Encode+Sans&display=swap");

body {
  background: rgb(57, 112, 135);
  background: radial-gradient(
    circle,
    rgba(57, 112, 135, 1) 0%,
    rgba(10, 2, 57, 1) 80%
  );
}

.bg-red {
  background-color: var(--red);
}

.text-red {
  color: var(--red) !important;
}

.bg-gray {
  background-color: var(--gray);
}

.text-gray {
  color: var(--gray);
}

.bg-navy {
  background-color: var(--navy);
}

.text-navy {
  color: var(--navy);
}

.text-justify {
  text-align: justify;
}

.form-white.input-group .form-control:focus {
  border-color: #fff;
  box-shadow: inset 0 0 0 1px #fff;
}

header,
footer {
  background: rgb(77, 2, 55);
  background: radial-gradient(
    circle,
    rgba(77, 2, 55, 1) 0%,
    rgba(10, 2, 57, 1) 100%
  );
}

.modal-content {
  background: rgb(56, 14, 4);
  background: linear-gradient(
    162deg,
    rgba(56, 14, 4, 1) 0%,
    rgba(6, 25, 70, 1) 100%
  );
}

.badge {
  /* width: 20%; */
  display: inline-block;
  margin-left: 1px;
  background-color: var(--red);
  text-shadow: none;
}

.badge:hover {
  background: #eb3349; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f45c43,
    #eb3349
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f45c43,
    #eb3349
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.nav-item:hover {
  /* background: #d31027; 
  background: -webkit-linear-gradient(
    to bottom,
    #ea384d,
    #d31027
  );
  background: linear-gradient(
    to bottom,
    #ea384da1,
    #d31027ab
  ); */
  transition: 0.5s ease;
  padding-left: 5px;
  padding-right: 5px;
  letter-spacing: 2px;
}

.nav-item a {
  color: yellow;
  /* font-family: "Source Code Pro", monospace; */
  font-size: 16px;
  text-shadow: 1px 1px red;
  letter-spacing: 2px;
}

.nav-item a:hover {
  color: white;
  font-weight: bold;
  text-shadow: 2px 2px black;
  letter-spacing: 3px;
  transition: 0.3s ease;
}

.ls-1 {
  letter-spacing: 1px;
}

.ls-2 {
  letter-spacing: 2px;
}

.ls-3 {
  letter-spacing: 3px;
}

.ls-4 {
  letter-spacing: 4px;
}

.ls-5 {
  letter-spacing: 5px;
}

.install {
  background: #f00000; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #dc281e,
    #f00000
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #dc281e,
    #f00000
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  box-shadow: 3px 3px var(--navy);
  color: yellow;
  padding: 8px 12px;
  text-decoration: none;
  border: 0;
  border-radius: 3px;
  transition: 0.1s ease;
  font-weight: bold;
}

.install:hover {
  background: #f00000; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #dc281e,
    #b90909
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #dc281e,
    #b90909
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: yellow;
  letter-spacing: 1px;
}
